@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?48hzd9');
  src:  url('icomoon.eot?48hzd9#iefix') format('embedded-opentype'),
  url('icomoon.woff2?48hzd9') format('woff2'),
  url('icomoon.ttf?48hzd9') format('truetype'),
  url('icomoon.woff?48hzd9') format('woff'),
  url('icomoon.svg?48hzd9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ahtung2:before {
  content: "\e919";
}
.icon-arrow-r-16:before {
  content: "\e918";
}
.icon-calendar-16:before {
  content: "\e917";
}
.icon-info:before {
  content: "\e916";
}
.icon-arrow-up:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-close-16:before {
  content: "\e902";
}
.icon-left:before {
  content: "\e903";
}
.icon-right:before {
  content: "\e904";
}
.icon-top:before {
  content: "\e905";
}
.icon-down:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e91a";
}
.icon-success:before {
  content: "\e91b";
}
.icon-print:before {
  content: "\e91c";
}
.icon-bell:before {
  content: "\e915";
}
.icon-fb:before {
  content: "\e907";
}
.icon-ok:before {
  content: "\e908";
}
.icon-vk:before {
  content: "\e909";
}
.icon-eye:before {
  content: "\e90a";
}
.icon-advert:before {
  content: "\e90b";
}
.icon-callendar:before {
  content: "\e90c";
}
.icon-close-24:before {
  content: "\e90d";
}
.icon-ahtung:before {
  content: "\e90e";
}
.icon-magnifier:before {
  content: "\e90f";
}
.icon-nav:before {
  content: "\e910";
}
.icon-next:before {
  content: "\e911";
}
.icon-prew:before {
  content: "\e914";
}
.icon-phone:before {
  content: "\e912";
}
.icon-point:before {
  content: "\e913";
}

